#sendButton{
    -fx-background-color:  #5E3B2D;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
}
#sendButton:hover{
    -fx-background-color:  #8B5E3C;
}
.scroll-bar:vertical{
    -fx-background-color: #fd7e14;
    -fx-background-radius: 20px;
}
.scroll-bar:vertical .thumb{
    -fx-background-color: #ffb38a;
    -fx-background-radius: 20px;
    -fx-padding: 5px;
    -fx-pref-width: 12px; /* Width of the thumb */
    -fx-min-width: 12px; /* Minimum width of the thumb */
    -fx-max-width: 12px;
}


.scroll-bar:vertical .increment-arrow,
 .scroll-bar:vertical .decrement-arrow {
    -fx-background-color: #ffb38a; /* Color of the arrow inside the buttons */
}
#anchor{
    -fx-background-color: #ffd8b0;
    -fx-background-radius: 50;
}
#anchor:hover{
    -fx-background-color: #ffb38a; /* Color of the arrow inside the buttons */
}
#leftButton {
    -fx-background-color: #ffd8b0;
    -fx-background-radius: 20;
}
#rightButton{
    -fx-background-color: #ffd8b0;
    -fx-background-radius: 20;
}
#leftButton:hover {
    -fx-background-color: #ffb38a;

}
#rightButton:hover{
    -fx-background-color: #ffb38a;

}
