
#loginPage{
    -fx-background-color: linear-gradient(to bottom, #8ec5fc, #e0c3fc);
    -fx-background-size: 300%;
    -fx-background-position: left;
}

#signupButton{
    -fx-background-color: #fd7e14;
    -fx-font-family: "Segoe Script";
    -fx-background-radius: 22;
    -fx-font-weight: bold;
    -fx-font-size: 13;
    -fx-text-fill: white;
}
#signupButton:hover{
    -fx-background-color: #e96a00;
    -fx-background-radius: 22;
    -fx-font-family: "Segoe Script";
    -fx-font-weight: bold;
    -fx-font-size: 13;
    -fx-text-fill: white;
}#signInButton{
    -fx-background-color: #fd7e14;
    -fx-font-family: "Segoe Script";
    -fx-background-radius: 15;
    -fx-font-weight: bold;
    -fx-font-size: 13;
    -fx-text-fill: white;
}
#signInButton:hover{
    -fx-background-color: #e96a00;
    -fx-background-radius: 15;
    -fx-font-family: "Segoe Script";
    -fx-font-weight: bold;
    -fx-font-size: 13;
    -fx-text-fill: white;
}
#forget{
    -fx-background-color:  #F5F4EF;
    -fx-font-family: "Segoe Script";
    -fx-font-weight: bold;
    -fx-font-size: 11;
    -fx-text-fill: black;
}
#forget:hover{
    -fx-background-color:  #F5F4EF;
    -fx-font-family: "Segoe Script";
    -fx-font-weight: bold;
    -fx-font-size: 11;
    -fx-text-fill: #e96a00;
}
#email {
    -fx-padding: 8px; /* Adjust padding for better text alignment */
    -fx-border-color: #000000; /* Black border */
    -fx-border-width: 2; /* Border thickness */
    -fx-border-radius: 15px; /* Rounded corners */
    -fx-background-color:  #F5F4EF; /* White background */
    -fx-background-radius: 10px; /* Background also needs to be rounded */
    -fx-prompt-text-fill: #888888; /* Gray placeholder text */
    -fx-font-size: 13px; /* Larger text size for better visibility */
}

#email:focused {
    -fx-border-color: #e96a00; /* Change border color when focused */
}

#email:hover {
    -fx-border-color: #fd7e14; /* Change border color when focused */
}
#password {
    -fx-padding: 8px; /* Adjust padding for better text alignment */
    -fx-border-color: #000000; /* Black border */
    -fx-border-width: 2; /* Border thickness */
    -fx-border-radius: 15px; /* Rounded corners */
    -fx-background-color:  #F5F4EF; /* White background */
    -fx-background-radius: 10px; /* Background also needs to be rounded */
    -fx-prompt-text-fill: #888888; /* Gray placeholder text */
    -fx-font-size: 13px; /* Larger text size for better visibility */
}

#password:focused {
    -fx-border-color: #e96a00; /* Change border color when focused */
}

#password:hover {
    -fx-border-color: #fd7e14; /* Change border color when focused */
}

